<div class="quiz" role="banner">
  <header>
    <h1 id="h1">HTML &amp; CSS Quiz</h1>
  </header>
    <div id="tracker">
      <div *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index;" class="nos" id="{{ 'nos' + n}}" [style.background-color]="this.trackerColor[n-1]">{{ i+1 }}</div>
    </div>
    <hr style="margin-bottom: 20px;">

    <div id="quizSet">
      <p id="question">{{ currentQuestion.question }}</p>
      <div id="options">
        <button [style.backgroundColor] = "optionBg && (i + 1) == ans ? '#1aff1a' : defaultColor" *ngFor="let answer of currentQuestion.answers; let i = index" (click)="checkAnswer(i, this.currentQuestionIndex)">
          {{ answer }}
        </button>
      </div>
      <button (click)="nextQuestion()" id="submit">Next Question</button>
    </div>

  <div id="resultBox" [style.display] = "!display ? 'none' : 'block'">
    <p id="result">{{ result }} </p>
    <button (click) = "retakeTest()" id="retake">Retake Test</button>
  </div>

  <hr style="margin-top: 30px;">

  <footer>
    <p id="progress">{{ progress }}</p>
    <div #timerEl id="timer">{{ timer }}</div>
  </footer>

</div>